@page "/member-details"
@model Synergy.Web.Pages.Team.GetMemberDetailsModel


<div class="container">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="@Model.GetMemberDetail.Member.Photo" alt="Admin" class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4>@Model.GetMemberDetail.Member.GivenName @Model.GetMemberDetail.Member.LastName</h4>
                                <p class="text-secondary mb-1">@Model.GetMemberDetail.Member.Title</p>
                                <p class="text-muted font-size-sm">@Model.GetMemberDetail.Contact.Address</p>
                                <p class="text-muted font-size-sm">@Model.GetMemberDetail.Contact.PhoneNumber</p>
                                <h4>@Model.TeamName</h4>
                                @if (string.IsNullOrEmpty(Model.TeamName))
                                {
                                    <a class="btn btn-info btn-block" asp-page="/Team/AssignMember" asp-route-memberId="@Model.GetMemberDetail.Member.Id">Assign Team</a>
                                }
                                else
                                {
                                    <a class="btn btn-info btn-warning" asp-page="/Team/AssignMember" asp-route-memberId="@Model.GetMemberDetail.Member.Id">Update Team</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-2">
                    <a asp-page="/Auth/GetUsers" class="btn btn-warning btn-block text-white">Back</a>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Full Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.GetMemberDetail.Member.GivenName @Model.GetMemberDetail.Member.LastName
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Phone</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.GetMemberDetail.Contact.PhoneNumber
                            </div>
                        </div>

                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Address</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.GetMemberDetail.Contact.Address
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row gutters-sm">
                    <div class="col-sm-12 mb-2">
                        <a class="btn btn-primary btn-block" asp-page="/Team/AddSkillToMember" asp-route-memberId="@Model.GetMemberDetail.Member.Id"><i class="fas fa-plus"></i></a>
                    </div>
                </div>

                <div class="row gutters-sm">
                    <div class="col-sm-6 mb-3">
                        <div class="card h-100">
                            <div class="card-body">
                                <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Tech Stack</i></h6>
                                <hr />
                                @foreach (var item in Model.GetMemberDetail.Skills)
                                {
                                    <div>@item.Technology</div><hr />
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 mb-3">
                        <div class="card h-100">
                            <div class="card-body">
                                <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Experience</i></h6>
                                <hr />
                                @foreach (var item in Model.GetMemberDetail.Skills)
                                {
                                    <div>@item.Experience</div><hr />
                                }
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>

    </div>
</div>