@page "/users"
@model Synergy.Web.Pages.Auth.GetUsersModel


<style>
    body {
        background-color: #f5f7fa;
    }

    .testimonial-card .card-up {
        height: 120px;
        overflow: hidden;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
    }

    .aqua-gradient {
        background: linear-gradient(40deg, #2096ff, #05ffa3) !important;
    }

    .testimonial-card .avatar {
        width: 120px;
        margin-top: -60px;
        overflow: hidden;
        border: 5px solid #fff;
        border-radius: 50%;
    }
</style>

<div class="container">

    <div class="row">
        @foreach (var item in Model.Members)
        {
            <div class="col-md-3">
                <section class="mx-auto my-5" style="max-width: 23rem;">
                    <div class="card testimonial-card mt-2 mb-3">
                        <div class="card-up aqua-gradient"></div>
                        <div class="avatar mx-auto white">
                            <img src="@item.Photo" width="200" height="200" class="rounded-circle img-fluid" alt="woman avatar">
                        </div>
                        <div class="card-body text-center">
                            <h4 class="card-title font-weight-bold">@item.GivenName @item.LastName</h4>
                            <h6 class="card-title font-weight-bold">@item.Title</h6>
                            <hr>
                            <p>
                                <a asp-page="/Team/GetMemberDetails" asp-route-memberId="@item.Id" class="btn btn-info btn-sm"><i class="fas fa-user"></i></a>
                                <a asp-page="/Auth/GetUserByMember" asp-route-memberId="@item.Id" class="btn btn-warning btn-sm"><i class="fas fa-key"></i></a>
                            </p>
                        </div>
                    </div>

                </section>

            </div>
        }

    </div>



</div>




@section Scripts{

    <script>
        $(document).ready(() => {
            $("#alert").hide(5000);
        });
    </script>

}