@page "Team/Member"
@model Synergy.WebApp.Pages.Team.GetTeamMemberDetailModel

<div class="row justify-content-center my-5">
    <div class="display-3 text-center">@Model.Member.Developer.GivenName @Model.Member.Developer.LastName</div>
    <div class="text-center">@Model.Member.Developer.Title</div>
    <div class="text-center">(@Model.Member.Developer.Team) Team Member</div>
</div>

<div class="row justify-content-center">

    <div class="col-3 my-3">
        <img src="/images/@Model.Member.Developer.Photo" class="img-thumbnail img-fluid text-center">
    </div>
    <div class="col-3 my-3">
        <h5 class="my-1">Contact</h5>
        <h6><i class="fa-solid fa-envelope"></i> @Model.Member.Contact.Email</h6>
        <h6><i class="fa-solid fa-phone"></i> @Model.Member.Contact.PhoneNumber</h6>
        <h6><i class="fa-solid fa-address-book"></i> @Model.Member.Contact.Address</h6>
    </div>

</div>

<div class="row justify-content-center my-5">
    <div class="col-4">
        <h5 class="my-1 text-center">Skills</h5>
        <div class="col-3 align-content-start">
            <a class="my-1 btn btn-primary"><i class="fa-solid fa-circle-plus"></i></a>
        </div>
        <table class="table table-bordered table-striped table-responsive table-secondary">
            <thead>
                <tr class="text-center text-warning">
                    <th>Technology</th>
                    <th>Experience</th>
                </tr>

            </thead>
            <tbody>
                @foreach (var item in Model.Member.Skills)
                {
                    <tr class="text-center">
                        <td>@item.Technology</td>
                        <td>@item.Experience</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>





