@page "/Auth/Users"
@model Synergy.WebApp.Pages.Auth.GetUsersModel


<div class="row col my-4">
    <div class="display-6 text-center">Users</div>
</div>

<div class="row my-4 justify-content-center">
    <div class="col-8 text-center">
        <table class="table table-hover table-striped table-responsive table-secondary">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Users)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Email</td>
                        <td>@item.Role</td>
                        <td>
                            @if (item.Role is null)
                            {
                                <a asp-page="/Auth/AssignRole" asp-route-userId="@item.Id" class="btn btn-info btn-sm">Assign Role</a>
                            }
                            else
                            {
                                <a asp-page="/Auth/AssignRole" asp-route-userId="@item.Id" class="btn btn-info btn-sm">Update Role</a>
                            }
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
